/* You can add global styles to this file, and also import other style files */
body{
    background-image:url("https://images.wallpaperscraft.com/image/couple_sunset_tenderness_127466_1280x720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }